@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var heroTitle = Model?.Content.Value<string>("heroTitle") ?? "We bring success to you";
    var heroText = Model?.Content.Value<string>("heroText") ?? "Lorem ipsum dolor sit amet, consectetur adipisicing elit.";
    var heroButtonText = Model?.Content.Value<string>("heroButtonText") ?? "Contact us";
    var heroButtonUrl = Model?.Content.Value<string>("heroButtonUrl") ?? "#";
    var heroImage = Model?.Content.Value<IPublishedContent>("heroImage")?.Url() ?? "/images/default-hero.jpg";
}


@* <section class="showcase-success">
    <img src="@heroImage" alt="Hero image">
    <div class="container">
        <h1>@heroTitle</h1>
        <p>@heroText</p>
        <a  href="@heroButtonUrl" class="btn-primary">@heroButtonText</a>
    </div>
</section> *@

<section id="hero">
    <div class="hero-background">
        <img src="@heroImage" alt="Hero image">
    </div>

    <div class="container">
        <div class="hero-content">
            <h1>Welcome to Our Website</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#services" class="btn-primary">Learn More</a>
        </div>
    </div>
</section>


